@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0a1512;
  /* mml-dark */
  color: #e0f2fe;
  /* mml-text */
}

#root {
  width: 100%;
  height: 100%;
}

/* Custom Marker Style */
.numbered-marker {
  background-color: #10b981;
  /* Emerald Green */
  color: white;
  border: 3px solid white;
  /* Slightly thicker border for better contrast */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex !important;
  /* Leaflet overrides */
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  /* Larger numbers */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}